name: "Check Vulnerable Packages"

env:
  PROJECT_PATH: 'MinimalApis/MinimalApis.csproj'
  TEST_PROJECT_PATH: 'MinimalApis.Test/MinimalApis.Test.csproj'

#on: pull_request
on:
  workflow_dispatch:

jobs:         
  vulnerable-packages:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v5

      - name: "Setup .NET"
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
          cache: false

      - name: "Scan for deprecated packages"
        # run: dotnet list ${{ env.PROJECT_PATH }} package --deprecated
        shell: bash
        run: |
          # Capture output and check for the presence of deprecated package headers
          OUTPUT=$(dotnet list ${{ env.PROJECT_PATH }} package --deprecated)
          echo "$OUTPUT"
          
          if echo "$OUTPUT" | grep -q 'has the following deprecated packages'; then
            echo "Error: Deprecated packages detected."
            exit 0
          fi
   
      - name: "Scan for vulnerable packages"
        # run: dotnet list ${{ env.PROJECT_PATH }} package --vulnerable --include-transitive
        run: |
          OUTPUT=$(dotnet list ${{ env.PROJECT_PATH }} package --vulnerable --include-transitive)
          echo "$OUTPUT"
          
          if echo "$OUTPUT" | grep -q 'has the following vulnerable packages'; then
            echo "Error: vulnerable packages detected."
            exit 1
          else
            echo "No vulnerable packages found."
            exit 0
          fi
