name: Dotnet CI

env:
  PROJECT_PATH: 'MinimalApis/MinimalApis.csproj'
  TEST_PROJECT_PATH: 'MinimalApis.Test/MinimalApis.Test.csproj'

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
          cache: false
          
      - name: Restore dependencies
        run: dotnet restore ${{ env.PROJECT_PATH }}

      - name: Build the project
        run: dotnet build ${{ env.PROJECT_PATH }} --no-restore

      - name: Test the project
        run: dotnet test ${{ env.TEST_PROJECT_PATH }} --no-build
